<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Admin</title>
</head>

<body style="
    font-family:sans-serif;
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
">

<div style="transform: translateY(-68px); min-width:250px;">

  <h2>Create Admin</h2>

  <form th:action="@{/admins}" th:object="${adminForm}" method="post">
    <input type="hidden" th:field="*{id}">

    <label>Name:</label><br>
    <input type="text" th:field="*{name}" style="width:100%;"><br><br>

    <label>Surname:</label><br>
    <input type="text" th:field="*{surname}" style="width:100%;"><br><br>

    <label>Email:</label><br>
    <input type="email" th:field="*{email}" style="width:100%;"><br><br>

    <label>Password:</label><br>
    <input type="password" th:field="*{password}" maxlength="25" style="width:100%;"><br><br>

    <button type="submit">Save</button>
  </form>

</div>

</body>
</html>