<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Department</title>
</head>

<body style="
    font-family:sans-serif;
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
">

<div style="transform: translateY(-68px); min-width:250px;">

    <h2>Create Department</h2>

    <form th:action="@{/departments}" th:object="${departmentForm}" method="post">
        <input type="hidden" th:field="*{id}">

        <label>Department Name:</label><br>
        <input type="text" th:field="*{name}" style="width:100%;"><br><br>

        <label>Department Number:</label><br>
        <input type="number" th:field="*{number}" style="width:100%;"><br><br>

        <button type="submit">Save</button>
    </form>

</div>

</body>
</html>