<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Grade</title>
</head>

<body style="
    font-family:sans-serif;
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
">

<div style="transform: translateY(-68px);">

    <h2>Create Grade</h2>

    <form th:action="@{/grades}" th:object="${gradeForm}" method="post">
        <input type="hidden" th:field="*{id}">

        <label>Student:</label><br>
        <select th:field="*{student.id}" style="width:100%;">
            <option value="">-- Select student --</option>
            <option th:each="s : ${students}"
                    th:value="${s.id}"
                    th:text="${s.name + ' ' + s.surname}">
            </option>
        </select><br><br>

        <label>Subject:</label><br>
        <select th:field="*{subject.id}" style="width:100%;">
            <option value="">-- Select subject --</option>

            <option th:each="s : ${subjects}"
                    th:value="${s.id}"
                    th:text="${s.name}">
            </option>
        </select><br><br>

        <label>Teacher:</label><br>
        <select th:field="*{teacher.id}" style="width:100%;">
            <option value="">-- Select teacher --</option>

            <option th:each="t : ${teachers}"
                    th:value="${t.id}"
                    th:text="${t.name + ' ' + t.surname}">
            </option>
        </select><br><br>

        <label>Grade:</label><br>
        <input type="number" th:field="*{gradeValue}" min="0" max="100"><br><br>

        <button type="submit">Save</button>
    </form>

</div>

</body>
</html>