<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Group</title>
</head>

<body style="
    font-family:sans-serif;
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
">

<div style="transform: translateY(-68px); min-width:250px;">

  <h2>Create Group</h2>

  <form th:action="@{/groups}" th:object="${groupForm}" method="post">
    <input type="hidden" th:field="*{id}">

    <label>Course:</label><br>
    <input type="text" th:field="*{course}" style="width:100%;"><br><br>

    <label>Number:</label><br>
    <input type="number" th:field="*{number}" style="width:100%;"><br><br>

    <label>Speciality:</label><br>
    <input type="text" th:field="*{speciality}" style="width:100%;"><br><br>

    <label>Department:</label><br>
    <select name="departmentId" style="width:100%;">
      <option value="">-- Select department --</option>
      <option th:each="d : ${departments}"
              th:value="${d.id}"
              th:text="${d.name}">
      </option>
    </select><br><br>

    <button type="submit">Save</button>
  </form>

</div>

</body>
</html>