<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniPortal</title>

    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
</head>

<body>

<nav class="navbar">
    <div>
        <span style="font-size:26px; font-weight:700;">
        Uni<span style="color:#2562eb;">Portal</span>
        </span>
        <span class="menu" style="display: flex; align-items: center; gap: 10px;">
            <a th:href="@{/grades}">Grades</a>
            <a th:href="@{/schedule}">Schedule</a>
            <a th:if="${currentStudent != null and currentStudent.role == 'ROLE_STUDENT'}"
               th:href="@{/my-group}">My Group</a>
            <a th:if="${currentTeacher != null and currentTeacher.role == 'ROLE_TEACHER'}"
               th:href="@{/students}">Students</a>
            <a th:if="${currentStudent != null and currentStudent.role == 'ROLE_STUDENT'}"
               th:href="@{/teachers}">Teachers</a>
            <a th:if="${currentStudent != null and currentStudent.role == 'ROLE_STUDENT'}"
               th:href="@{/students/{id}/profile(id=${currentStudent.id})}">Profile</a>
            <a th:if="${currentTeacher != null and currentTeacher.role == 'ROLE_TEACHER'}"
               th:href="@{/teachers/{id}/profile(id=${currentTeacher.id})}">Profile</a>
        </span>
    </div>
</nav>

<img src="/images/pang-yuhao-_kd5cxwZOK4-unsplash.jpg" width="458" height="400">
<img src="/images/vadim-sherbakov-d6ebY-faOO0-unsplash.jpg" width="468" height="400">
<img src="/images/darya-tryfanava-d55fhArDES0-unsplash.jpg" width="468" height="400">
<img src="/images/leon-wu-LLfRMRT-9AY-unsplash.jpg" width="468" height="400">

<div class="container">

    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr valign="top">
            <td width="50%" style="min-width: 380px;">
                <div style="border: 1px solid #ddd; border-radius: 6px; overflow: hidden; background: #fff;">
                    <div style="background: #3766a0; color: white; padding: 12px; text-align: center; font-weight: bold;">
                        Subjects
                    </div>
                    <table cellpadding="15" cellspacing="0" width="100%">
                        <tr th:each="s, stat : ${subjects}" th:if="${stat.index % 3 == 0}">
                            <td align="center" width="33%">
                                <img src="/images/boxicons-ZXVtn6R5E9Q-unsplash.jpg" width="100"><br>
                                <a href="/course/subject">
                                    <small th:text="${subjects[stat.index].name}"></small>
                                </a>
                            </td>
                            <td align="center" width="33%" th:if="${stat.index + 1 < subjects.size()}">
                                <img src="/images/boxicons-ZXVtn6R5E9Q-unsplash.jpg" width="100"><br>
                                <a href="/course/subject">
                                    <small th:text="${subjects[stat.index + 1].name}"></small>
                                </a>
                            </td>
                            <td align="center" width="33%" th:if="${stat.index + 2 < subjects.size()}">
                                <img src="/images/boxicons-ZXVtn6R5E9Q-unsplash.jpg" width="100"><br>
                                <a href="/course/subject">
                                    <small th:text="${subjects[stat.index + 2].name}"></small>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>

</div>

</body>
</html>