<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniPortal</title>

    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
</head>
<body>

<div class="login-card">
    <span style="font-size:26px; font-weight:700;">
    Uni<span style="color:#2562eb;">Portal</span>
    </span>
    <h2>Login</h2>

    <div th:if="${param.error}" class="alert alert-error">
        <font color="red">Invalid email or password. Please try again.</font>
    </div>

    <div th:if="${param.logout}" class="alert alert-info">
        You have been logged out.
    </div>

    <form th:action="@{/login}" method="post">

        <div class="field">
            <label for="username">Email</label>
            <input type="text"
                   id="username"
                   name="username"
                   placeholder="Введите email"
                   required/>
        </div>

        <div class="field">
            <label for="password">Password</label>
            <input type="password"
                   id="password"
                   name="password"
                   placeholder="Введите пароль"
                   required/>
        </div>

        <button type="submit">Sign in</button>
    </form>
</div>

</body>
</html>
