<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Group</title>

  <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
</head>

<body>

<h2>Create Group</h2>

<form th:action="@{/groups}" th:object="${groupForm}" method="post" enctype="multipart/form-data">
  <label for="course">Group's course</label>
  <input type="text" th:field="*{course}" id="course">

  <label for="number">number</label>
  <input type="number" th:field="*{number}" id="number">

  <label for="speciality">Group's speciality</label>
  <input type="text" th:field="*{speciality}" id="speciality">

  <label>Group's department:</label>

  <select name="departmentId">

    <option value="">-- Select department --</option>

    <option th:each="d : ${departments}"
            th:value="${d.id}"
            th:text="${d.name}">
    </option>
  </select>

  <button type="submit">Submit</button>
</form>

</body>
</html>
