<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>New Student</title>

    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
</head>

<body>

<h2>Create New Student</h2>

<form th:action="@{/students}" th:object="${studentForm}" method="post" enctype="multipart/form-data">
    <label for="name">Student's name:</label>
    <input type="text" th:field="*{name}" id="name">

    <label for="surname">Student's surname:</label>
    <input type="text" th:field="*{surname}" id="surname">

    <label for="email">Student's email:</label>
    <input type="email" th:field="*{email}" id="email">

    <label for="password">Student's password:</label>
    <input type="password" th:field="*{password}" id="password">

    <label>Group:</label>

    <select name="groupId">
        <option value="">-- Select group --</option>

        <option th:each="g : ${groups}"
                th:value="${g.id}"
                th:text="'Course ' + ${g.course} + ' - ' + ${g.speciality}">
        </option>
    </select>

    <label for="phone_number">Student's phone number:</label>
    <input type="tel" th:field="*{phoneNumber}" id="phone_number">

    <label for="image">Your image:</label>
    <input type="file" name="file" id="image">

    <button type="submit">Submit</button>
</form>

</body>
</html>