<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>New Admin</title>

  <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
</head>

<body>

<h2>Create New Admin</h2>

<form th:action="@{/admins}" th:object="${adminForm}" method="post" enctype="multipart/form-data">
  <label for="name">Your name:</label>
  <input type="text" th:field="*{name}" id="name">

  <label for="surname">Your surname:</label>
  <input type="text" th:field="*{surname}" id="surname">

  <label for="email">Your email:</label>
  <input type="email" th:field="*{email}" id="email">

  <label for="password">Your password:</label>
  <input type="password" th:field="*{password}" id="password" max="25">

  <button type="submit">Submit</button>
</form>

</body>
</html>
