<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniPortal</title>

    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
</head>

<body>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <td width="50%" style="padding-right: 20px;">
        <div class="table-card">
            <table width="100%">
                <tr bgcolor="#3766a0">
                    <th colspan="2" align="left">Monday</th>
                </tr>
                <tr>
                    <td width="130" height="60">08:00 – 09:35</td>
                    <td>102p, Programming, lecture, Ivanenko O.V.</td>
                </tr>
                <tr>
                    <td width="130" height="60">09:50 - 11:25</td>
                    <td>421g, English, practice, Novytska O.L.</td>
                </tr>
                <tr>
                    <td width="130" height="60">11:55 – 13:30</td>
                    <td>Physical Education, practice</td>
                </tr>
                <tr>
                    <td width="130" height="60">13:45 - 15:20</td>
                    <td>—</td>
                </tr>
                <tr bgcolor="#3766a0">
                    <th colspan="2" align="left">Tuesday</th>
                </tr>
                <tr>
                    <td width="130" height="60">08:00 – 09:35</td>
                    <td>102p, Programming, lecture, Ivanenko O.V.</td>
                </tr>
                <tr>
                    <td width="130" height="60">09:50 - 11:25</td>
                    <td>421g, English, practice, Novytska O.L.</td>
                </tr>
                <tr>
                    <td width="130" height="60">11:55 – 13:30</td>
                    <td>Physical Education, practice</td>
                </tr>
                <tr>
                    <td width="130" height="60">13:45 - 15:20</td>
                    <td>—</td>
                </tr>
                <tr bgcolor="#3766a0">
                    <th colspan="2" align="left">Wednesday</th>
                </tr>
                <tr>
                    <td width="130" height="60">08:00 – 09:35</td>
                    <td>102p, Programming, lecture, Ivanenko O.V.</td>
                </tr>
                <tr>
                    <td width="130" height="60">09:50 - 11:25</td>
                    <td>421g, English, practice, Novytska O.L.</td>
                </tr>
                <tr>
                    <td width="130" height="60">11:55 – 13:30</td>
                    <td>Physical Education, practice</td>
                </tr>
                <tr>
                    <td width="130" height="60">13:45 - 15:20</td>
                    <td>—</td>
                </tr>
                <tr bgcolor="#3766a0">
                    <th colspan="2" align="left">Thursday</th>
                </tr>
                <tr>
                    <td width="130" height="60">08:00 – 09:35</td>
                    <td>102p, Programming, lecture, Ivanenko O.V.</td>
                </tr>
                <tr>
                    <td width="130" height="60">09:50 - 11:25</td>
                    <td>421g, English, practice, Novytska O.L.</td>
                </tr>
                <tr>
                    <td width="130" height="60">11:55 – 13:30</td>
                    <td>Physical Education, practice</td>
                </tr>
                <tr>
                    <td width="130" height="60">13:45 - 15:20</td>
                    <td>—</td>
                </tr>
                <tr bgcolor="#3766a0">
                    <th colspan="2" align="left">Friday</th>
                </tr>
                <tr>
                    <td width="130" height="60">08:00 – 09:35</td>
                    <td>102p, Programming, lecture, Ivanenko O.V.</td>
                </tr>
                <tr>
                    <td width="130" height="60">09:50 - 11:25</td>
                    <td>421g, English, practice, Novytska O.L.</td>
                </tr>
                <tr>
                    <td width="130" height="60">11:55 – 13:30</td>
                    <td>Physical Education, practice</td>
                </tr>
                <tr>
                    <td width="130" height="60">13:45 - 15:20</td>
                    <td>—</td>
                </tr>
                <tr bgcolor="#3766a0">
                    <th colspan="2" align="left">Saturday</th>
                </tr>
                <tr>
                    <td width="130" height="60">08:00 – 09:35</td>
                    <td>102p, Programming, lecture, Ivanenko O.V.</td>
                </tr>
                <tr>
                    <td width="130" height="60">09:50 - 11:25</td>
                    <td>421g, English, practice, Novytska O.L.</td>
                </tr>
                <tr>
                    <td width="130" height="60">11:55 – 13:30</td>
                    <td>Physical Education, practice</td>
                </tr>
                <tr>
                    <td width="130" height="60">13:45 - 15:20</td>
                    <td>—</td>
                </tr>
                <tr bgcolor="#3766a0">
                    <th colspan="2" align="left">Sunday</th>
                </tr>
                <tr>
                    <td width="130" height="60">08:00 – 09:35</td>
                    <td>102p, Programming, lecture, Ivanenko O.V.</td>
                </tr>
                <tr>
                    <td width="130" height="60">09:50 - 11:25</td>
                    <td>421g, English, practice, Novytska O.L.</td>
                </tr>
                <tr>
                    <td width="130" height="60">11:55 – 13:30</td>
                    <td>Physical Education, practice</td>
                </tr>
                <tr>
                    <td width="130" height="60">13:45 - 15:20</td>
                    <td>—</td>
                </tr>
            </table>
        </div>
    </td>
</table>
</body>
</html>