<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>

    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
</head>
<body>

<h1 th:text="${student.name}"></h1>
<h1 th:text="${student.surname}"></h1>
<h1 th:text="${student.email}"></h1>
<h1 th:text="${student.phoneNumber}"></h1>

<img th:src="${student.image}" alt="Profile photo"/>

<a th:href="@{/}">
    <h3>Back to the main page</h3>
</a>

<form th:action="@{/logout}" method="post" style="margin-top: 16px;">
    <button type="submit">Logout</button>
</form>

</body>
</html>