<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
</head>

<body style="margin:0; padding:0;">

<nav style="background:#213d60; padding:12px 20px; border-bottom:2px solid #2562eb;">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td align="left">
                <span style="font-size:26px; font-weight:700;
                    font-family:'Inter', sans-serif; color:white;">
                    Uni<span style="color:#2562eb;">Portal</span>
                </span>
            </td>

            <td align="right">
                <span style="display:inline-block;">
                    <a th:href="@{/}" style="color:white; text-decoration:none; margin:0 10px;">Home</a>

                    <a th:href="@{/schedule}" style="color:white; text-decoration:none; margin:0 10px;">Schedule</a>

                    <a th:href="@{/grades}" style="color:white; text-decoration:none; margin:0 10px;">Grades</a>

                    <a th:if="${currentStudent != null and currentStudent.role == 'ROLE_STUDENT'}"
                       th:href="@{/group}" style="color:white; text-decoration:none; margin:0 10px;">Group</a>

                    <a th:if="${currentStudent != null and currentStudent.role == 'ROLE_STUDENT'}"
                       th:href="@{/teachers}" style="color:white; text-decoration:none; margin:0 10px;">Teachers</a>

                    <a th:if="${currentTeacher != null and currentTeacher.role == 'ROLE_TEACHER'}"
                       th:href="@{/students}" style="color:white; text-decoration:none; margin:0 10px;">Students</a>

                    <span style="color:#888;">|</span>

                    <a th:if="${currentStudent != null}"
                       th:href="@{/students/{id}/profile(id=${currentStudent.id})}" style="color:#2562eb;
                        text-decoration:none; margin-left:10px;">Profile</a>

                    <a th:if="${currentTeacher != null}"
                       th:href="@{/teachers/{id}/profile(id=${currentTeacher.id})}" style="color:#2562eb;
                        text-decoration:none; margin-left:10px;">Profile</a>
                </span>
            </td>
        </tr>
    </table>
</nav>

<div style="height:100vh; display:flex; justify-content:center;
    align-items:flex-start; padding-top:120px;">

    <div style="width:580px; border:1px solid #ccc; background:white;
                border-radius:10px; overflow:hidden;
                box-shadow:0 8px 25px rgba(0,0,0,0.08);">

        <div style="background:#3766a0; color:white;
                    padding:16px 20px; font-weight:700; font-size:18px;">
            Profile
        </div>

        <div style="padding:35px; text-align:center;">

            <div style="width:100px; height:100px; background:#2f5fd1;
                color:white; border-radius:50%; display:flex;
                align-items:center; justify-content:center;
                font-size:36px; font-weight:700;
                margin:0 auto 18px auto;"
                 th:text="${#strings.substring(student.name,0,1)}">
            </div>

            <div style="font-size:26px; font-weight:700; margin-bottom:12px;"
                 th:text="${student.name + ' ' + student.surname}">
            </div>

            <div style="
                width:180px;
                height:1px;
                background:rgba(0,0,0,0.3);
                margin:6px auto 18px auto;
            ">
            </div>

            <div style="border-top:1px solid #eee; margin:20px 0;"></div>

            <!-- INFO -->
            <div style="font-size:17px; line-height:2; text-align:center;">

                <div style="margin-bottom:10px; font-weight:550">
                    <b style="color:#3766a0; font-weight:600;">First name:</b>
                    <span th:text="${student.name}"></span>
                </div>

                <div style="margin-bottom:10px; font-weight:550">
                    <b style="color:#3766a0; font-weight:600;">Last name:</b>
                    <span th:text="${student.surname}"></span>
                </div>

                <div style="margin-bottom:10px; font-weight:550">
                    <b style="color:#3766a0; font-weight:600;">Email:</b>
                    <span th:text="${student.email}"></span>
                </div>

                <div style="font-weight:550">
                    <b style="color:#3766a0; font-weight:600;">Phone:</b>
                    <span th:text="${student.phoneNumber}"></span>
                </div>

            </div>

            <div style="margin-top:30px;"
                 th:if="${currentStudentId == student.id}">

                <form th:action="@{/logout}" method="post">
                    <button type="submit"
                            style="background:#e53935; color:white;
                                   border:none; padding:12px 32px;
                                   border-radius:6px; font-weight:600;
                                   cursor:pointer; font-size:15px;">
                        Logout
                    </button>
                </form>

            </div>

        </div>

    </div>

</div>

</body>
</html>